<div class="playContainer">
  <div class="playHeader">
    <div class="info">

      <span class="song-name"></span>

      <div id="socialHolder" class="boxSinv">
        <a id="facebookShare" onclick="postToFeed(); return false;" title="Share this track on Facebook"></a>
      </div>

    </div>


    <span class="minimizeButton"><img src="assets/minimize.png" width="30" height="30"></span>
    <span class="closeButton"><img src="assets/close.png" width="30" height="30"></span>
  </div>
  <iframe class="playFrame" name="playFrame"></iframe>

  <iframe class="spotifyTarget" name="spotifyTarget"></iframe>
</div>
