<div class="playContainer">
  <div class="playHeader">
    <span class="info"></span>
    <span class="minimizeButton"><img src="assets/minimize.png" width="30" height="30"></span>
    <span class="closeButton"><img src="assets/close.png" width="30" height="30"></span>
  </div>
  <iframe class="playFrame" name="playFrame"></iframe>

  <iframe class="spotifyTarget" name="spotifyTarget"></iframe>
</div>
