

    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">

      <!-- Begin page content -->
      <div class="container" >
       <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner" >
        <div  style="height:110px;" >
          <div class="nav-collapse collapse" style="align:center; padding-top:30px;">
		  <div style="align:center;">
			<table style="margin-left:auto;margin-right:auto;">
			<tr>
			<td>
     		<a class="brand" href="#">Music Masti</a>
           
			<form class="navbar-form pull-left"  data-remote="true">
			<input type="text" class="search-query" name="keyword" placeholder="Search">
			</form>
			</td>
			</tr>
			<tr>
			<td class=".socialplugin">



		   	  <!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_facebook_like" data-send="true" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50e94d9c204a1be1"></script>
<!-- AddThis Button END -->


		   </td>
		   </tr>
		   </table>

		   </div>

          </div>
        </div>
      </div>
    </div>

    <div class="container-body" style="padding-left:150px;padding-right:100px;padding-bottom:50px;">
      
       <div>
	<div class="col" id="spotify">
	<h2>
		<a href="http://www.spotify.com" target="_blank">
		<img src="images/spotify.png" class="logo">
		</a>
		Spotify 
		<span id="spotify_result_count" class="num-results"></span>
	</h2>
	<div id="spotify_loading" class="loading" style="display: none;">
		<img class="spinner" src="images/spinner.gif">
	</div>
	<div class="results" id="spotify_results">
		<p>No results found.</p>
	</div>
        </div>
       </div>
       <div>
	<div class="col" id="grooveshark">
	<h2>
		<a href="http://www.grooveshark.com" target="_blank">
		<img src="images/grooveshark.png" class="logo">
		</a>
		Grooveshark 
		<span id="grooveshark_result_count" class="num-results"></span>
	</h2>
	<div id="grooveshark_loading" class="loading" style="display: none;">
		<img class="spinner" src="images/spinner.gif">
	</div>
	<div class="results" id="grooveshark_results">
		<p>No results found.</p>
	</div>
        </div>
      </div>

      <div>
	<div class="col" id="soundcloud">
	<h2>
		<a href="http://www.soundcloud.com" target="_blank">
		<img src="images/soundcloud.png" class="logo">
		</a>
		SoundCloud
		<span id="soundcloud_result_count" class="num-results"></span>
	</h2>
	<div id="soundcloud_loading" class="loading" style="display: none;">
		<img class="spinner" src="images/spinner.gif">
	</div>
	<div class="results" id="soundcloud_results">
		<p>No results found.</p>
	</div>
        </div>
      </div>

      <div>
	<div class="col" id="rdio">
	<h2>
		<a href="http://www.rdio.com" target="_blank">
		<img src="images/rdio.png" class="logo">
		</a>
		Rdio
		<span id="rdio_result_count" class="num-results"></span>
	</h2>
	<div id="rdio_loading" class="loading" style="display: none;">
		<img class="spinner" src="images/spinner.gif">
	</div>
	<div class="results" id="rdio_results">
		<p>No results found.</p>
	</div>
        </div>
      </div>

       <div>
	<div class="col" id="youtube">
	<h2>
		<a href="http://www.youtube.com" target="_blank">
		<img src="images/youtube.png" class="logo">
		</a>
		YouTube
		<span id="youtube_result_count" class="num-results"></span>
	</h2>
	<div id="youtube_loading" class="loading" style="display: none;">
		<img class="spinner" src="images/spinner.gif">
	</div>
	<div class="results" id="youtube_results">
		<p>No results found.</p>
	</div>
        </div>
      </div>


     </div>


      <div id="push"></div>
    </div>

    <div id="footer" style="position:fixed; bottom:0; width:100%">
      <div class="container" style="padding-left:150px">
        <p class="muted credit"> -By Chase Motsi.</p>
      </div>
    </div>
