$("#youtube_loading").css("display","none");
$("#youtube_result_count").text("<%=@playlist.count%> Results");
<%if @playlist.count == 0 %>
$("#youtube_results").html("<p>No results found.</p>");
<%else%>
$("#youtube_results").html("<ul id='youtube_result_list' class='result-list'></ul>");
<%end%>
<%@playlist.each do |song| %>
 $("#youtube_result_list").append("<li>\
				<a href='<%=song['link'][0]['href']%>' target='m'><%=song['title'][0]%></a>\
				<span class='album'><%=song['group'][0]['description'][0]['content']%></span>\
			</li>");
<%end%>


