html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
ol{
	list-style:decimal;
}
blockquote, q {
	quotes: none;
}
strong{
	font-weight:bold;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*----------------------------------------------
				  typography
-----------------------------------------------*/
@font-face {
    font-family: 'MyriadProCondensed';
    src: url('font/myriadprocond-webfont.eot');
    src: url('font/myriadprocond-webfont.woff') format('woff'),
	url('font/myriadprocond-webfont.ttf') format('truetype'),
	url('font/myriadprocond-webfont.svgz#MyriadProCondensed') format('svg'),
	url('font/myriadprocond-webfont.svg#MyriadProCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadProBoldCondensed';
    src: url('font/myriadproboldcond-webfont.eot');
    src: url('font/myriadproboldcond-webfont.woff') format('woff')
	url('font/myriadproboldcond-webfont.ttf') format('truetype'),
	url('font/myriadproboldcond-webfont.svgz#MyriadProBoldCondensed') format('svg'),
	url('font/myriadproboldcond-webfont.svg#MyriadProBoldCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
	background:#fff url(contentbg.png) repeat top center;
	font-size:100%;
    font-family:Georgia, "Times New Roman", Times, serif;
	color:#000;
	padding:0;
	margin:0;
}
.clear { 
    clear:both;
}
.wrapper{
	width:982px;
	height:auto;
	margin:0 auto;
	position:relative;
}
#main{
	
}
#header{
	height:auto;
	margin-bottom:15px;
}
#logo{
	margin: 5% auto 35px;
	width:462px;
	height:auot;
}
.search_box{
	background:url(search_box.png) no-repeat;
	width:532px;
	height:68px;
	margin:0 auto 22px;
}
.search_fild{
	background: none;
    border: medium none;
    height: 28px;
    margin: 10px 0 0 25px;
    padding: 5px 0;
    width: 455px;
	outline:none;
	font-size:18px;
	color:#c0c0c0;
	font-style:italic;
}
.search_btn{
	background: none;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: Myriad Pro;
    font-size: 20px;
    font-weight: normal;
    outline: medium none;
    padding: 9px 0 8px 4px;
    text-transform: uppercase;
	letter-spacing:-1px;
	width:40px;
}
#footer{
	padding:10px 0 30px;
	/*border-top:1px solid #1d1d1d;*/
	/*border-bottom:1px solid #1d1d1d;*/
	margin-bottom:20px;
}
.logo_holder{
	width:295px;
	margin:0 auto;
	padding-top:10px;
}
.logo_holder ul{
	list-style:none;
}
.logo_holder ul li{
	float:left;
	margin:0 8px;
}
.social{
	width:540px;
	margin:0 auto;
	border-top:1px solid #1d1d1d;
}
.social_click{
	width:340px;
	margin:0 auto;
	text-align:center;
	padding-top:30px;
}
.social_click h5{
	font-family: Myriad Pro;
	font-size:18px;
	color:#1f2120;
	text-transform:uppercase;
}
.f_social{
	width:150px;
	margin:0 auto;
	text-align:center;
}
.f_social ul{
	list-style:none;
}
.f_social ul li{
	float:left;
	margin:25px 8px 0;
}
a.fb{
	display:inline-block;
	background:url(fb.png) no-repeat;
	width:33px;
	height:34px;
}
a.fb:hover{
	background:url(fb_hover.png) no-repeat;
	width:33px;
	height:34px;
}
a.twt{
	display:inline-block;
	background:url(twt.png) no-repeat;
	width:34px;
	height:34px;
}
a.twt:hover{
	background:url(twt_hover.png) no-repeat;
	width:34px;
	height:34px;
}
a.gplus{
	display:inline-block;
	background:url(google.png) no-repeat;
	width:34px;
	height:34px;
}
a.gplus:hover{
	background:url(google_hover.png) no-repeat;
	width:34px;
	height:34px;
}

/*-----------------------------------List Page----------------------------------*/
#header_inner{
	height:150px;
	/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #C4EFEC 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #C4EFEC 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #C4EFEC 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #C4EFEC));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #C4EFEC 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #FFFFFF 0%, #C4EFEC 100%);
}
#logo_inner{
	float:left;
	margin:15px 0 0;
}

.search_box_inner{
	float:right;
	background:url(search_box.png) no-repeat;
	width:534px;
	height:95px;
	margin:50px 0 0;
}
.list_body{
	min-height:700px;
	background: #fff url(contentbg.png) repeat;
	padding-bottom:22px;
}
#footer_inner{
	height:120px;
	background:url(list-page-bg.png) repeat;
	padding:10px 0 20px;
}
.logo_holder_inner{
	background:url(logo_holder_inner.png) no-repeat;
	width:497px;
	height:42px;
	margin:0 auto;
	padding:11px 40px 0;
}
.logo_holder_inner ul{
	list-style:none;
}
.logo_holder_inner ul li{
	float:left;
	margin:0 12px;
}




/*-----------------------------------Listing Pages----------------------------------*/
#header_listing{
	height:150px;
	background:url(pw_maze_white.png) repeat;
	border-bottom:1px solid #1d1d1d;
}
.list_body_two{
	min-height:700px;
	background: #fff url(contentbg.png) repeat;
	padding-bottom:22px;
}

.heading_page{
	padding:10px 15px;
	border-top:1px solid #d4d4d4;
	border-bottom:1px solid #d4d4d4;
	background:#fff;
	border-radius:5px 5px 0 0;
}
.heading_page h2{
	float:left;
	font-size:24px;
    font-family: 'MyriadProBoldCondensed';
	text-transform:uppercase;
	color:#545454;
	background:url(logo3.png) no-repeat left;
	padding:5px 0 5px 75px;
	height:27px;
	font-weight:bold;
}
.heading_page p{
	float:right;
	font-family:Calibri, Arial, Helvetica, sans-serif;
	color:#adadad;
	font-size:14px;
	padding-top:12px;
}
.heading_page p span{
	color:#e03f29;
}

/*-----------------------------------top-navigation----------------------------------*/
.top-nav{
	border-bottom:1px solid #e4e4e4;
	width:100%;
	padding:35px 0 0 0;
}
.top-nav ul li{
	float:left;
}
.top-nav ul li a{
	display:block;
	font-family: 'MyriadProCondensed';
	font-size:20px;
	color:#6f6f6f;
	text-shadow:#6f6f6f;
	text-transform:uppercase;
	text-decoration:none;
	margin:0 15px;
	padding-bottom:15px;
	position:relative;
}

.top-nav ul li a:hover,
.top-nav ul li a.active{
	color:#e44029;
	border-bottom:1px solid #e44029;
	padding-bottom:14px;
}
.content{
	border-left:1px solid #d4d4d4;
	border-right:1px solid #d4d4d4;
	border-bottom:1px solid #d4d4d4;
	border-radius:5px;
	margin-top:22px;
	background:url(contentbg.png) repeat;
	margin-bottom:20px;
}
.heading{
	padding:10px 15px;
	border-top:1px solid #d4d4d4;
	border-bottom:1px solid #d4d4d4;
	background:#fff;
	border-radius:5px 5px 0 0;
}
.heading h2{
	float:left;
	font-size:24px;
    font-family: 'MyriadProBoldCondensed';
	text-transform:uppercase;
	color:#545454;
	background:url(logo2.png) no-repeat left;
	padding:5px 0 5px 42px;
	height:27px;
	font-weight:bold;
}
.heading p{
	float:right;
	font-family:Calibri, Arial, Helvetica, sans-serif;
	color:#adadad;
	font-size:14px;
	padding-top:12px;
}
.heading p span{
	color:#e03f29;
}
.listing-area{
	padding:10px 20px;
}
.listing-area ul li{
	border-bottom:1px solid #d4d4d4;
	border-top:1px solid #fdfdfd;
	padding:7px 0;
}
.listing-area ul li:first-child{
	border-top:none;
}
.listing-area ul li:last-child{
	border-bottom:none;
}
.listing-area ul li a{
	display:inline-block;
	float:left;
	color:#14afef;
	text-decoration:none;
}
.listing-area ul li a:hover{
	color:#545454;
}
.listing-area ul li p{
	float:right;
	width:580px;
	font-family:Calibri, Arial, Helvetica, sans-serif;
	color:#b0b0b0;
	font-size:14px;
}



