<div id="footer">

  <div class="social">
    <div class="social_click">
      <h5>Stay in touch</h5>
      <div class="f_social">
        <ul>
          <li><a class="fb" href="https://www.facebook.com/Soundseekr"></a></li>
          <li><a class="twt" href="https://twitter.com/soundseekrs"></a></li>
          <li><a class="gplus" href="#"></a></li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div><!-- #footer -->
